
body {
    font-size: 15.5px;
    line-height: 1.7;
}

/* HEADINGS */
.md-typeset h1 {
    font-weight: 800;
    border-bottom: 3px solid #2563eb;
    padding-bottom: 6px;
}

.md-typeset h2 {
    font-weight: 700;
    border-bottom: 2px solid #93c5fd;
    padding-bottom: 4px;
}

/* SIDEBAR ACTIVE */
.md-nav__link--active {
    color: #2563eb !important;
    font-weight: 600;
    border-left: 3px solid #2563eb;
    padding-left: 10px;
}

/* CODE */
.md-typeset code {
    border-radius: 6px;
}

/* TOC SCROLL FIX */
.md-typeset h2,
.md-typeset h3 {
    scroll-margin-top: 90px;
}
